<template>
    <f7-page>
        <f7-navbar>
            <f7-nav-center sliding>Bus Route Monitoring</f7-nav-center>
        </f7-navbar>
        <div class="content-block-title"><center><b>Terms and Conditions</b></center></div>
        <div class="content-block inset">
            <div class="content-block-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta tincidunt ipsum ut convallis. Praesent eget tortor quis lorem mollis lacinia id eu felis. Suspendisse justo nibh, mollis nec vehicula blandit, sodales nec nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi rutrum elit et eros maximus porttitor. Nunc eu facilisis ex. Nulla eu nisi massa. Cras facilisis posuere elit et eleifend.</p>
                <p>Mauris non auctor nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vitae quam eget eros facilisis egestas in a purus. Fusce auctor condimentum semper. Sed et eros ante. Nullam magna neque, pretium pretium ipsum et, dictum vehicula dui. Mauris id metus id massa semper pretium quis eu metus. Mauris in viverra nisl, id accumsan dolor. Mauris dolor enim, auctor eget ipsum ut, elementum egestas odio. Etiam erat nisi, placerat quis iaculis quis, laoreet sit amet turpis. Quisque tincidunt libero in quam gravida consequat. Donec tortor nulla, vulputate vitae consectetur et, ornare non dolor.</p>
                <div class="row">
                    <div class="col-30">
                        <input type="radio" name="agreement" value="agree" v-model="agreement">
                        <label><b>I agree</b></label>
                    </div>
                    <div class="col-20">
                        <br>
                        <br>
                        <br>
                        <center><button v-show="agreement !== null" v-on:click="submitAgreement" class="button button-fill color-green">Confirm</button></center>
                    </div>
                    <div class="col-50">
                        <input type="radio" name="agreement" value="disagree" v-model="agreement">
                        <label><b>Disagree</b></label>
                    </div>
                </div>
            </div>
        </div>
    </f7-page>
</template>

<script>
  export default {
    data () {
      return {
        url: {
          routeCheckMacAddress: 'https://bus-finder-ph.herokuapp.com/api/check-mac',
        },
        phone_info: null,
        agreement: null,
      }
    },
    created: function () {
        var that = this;
        that.phone_info = window.phone_info
    },
    methods: {
        submitAgreement: function () {
            var that = this;
            navigator.geolocation.getCurrentPosition(function(position) {
                var data = {
                    mac_address: phone_info.mac_address,
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                    agreement: that.agreement
                }
                axios.post(that.url.routeCheckMacAddress, data).then(function(response){
                    var result = response.data
                    if (result.agreement === 'agree') {
                        f7.mainView.router.load({url: '/map'});
                    } else {
                        navigator.device.exitApp();
                    }
                }).catch( function(error) {
                    var err = error.response.data;
                    that.$f7.alert(err.message, err.error);
                });
             });
        }
    }
  }
</script>
