<template>
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="center">Bus Route Monitoring</div>
                <div class="right">
                    <a href="#" style="color: grey;" id="autocomplete-standalone-popup" class="autocomplete-opener link icon-only">
                        <i class="icon f7-icons">search_strong</i>
                    </a>
                </div>
            </div>
        </div>
        <gmap-map
            ref="map"
            :center="center"
            :zoom="7"
            style="width: 100%; height: 300px;">
            <gmap-marker
                :key="index"
                v-for="(bus, index) in buses"
                :position="bus.position"
                :clickable="true"
                :draggable="false"
                :title="bus.free_text"
                :icon="bus.icon"
                v-on:click="getBus(bus)">
            </gmap-marker>
            <gmap-info-window
                :opened="target_bus.infoWinOpen"
                :position="target_bus.position"
                @closeclick="resetInfo">
                {{ target_bus.free_text }}
            </gmap-info-window>
        </gmap-map>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Bus No: <b>{{ target_bus.bus_number }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Plate No: <b>{{ target_bus.plate_number }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Distance: <b>{{ target_bus.distance }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Stops:
                                <ul>
                                    <li v-for="(stop, index) in target_bus.route_stops"><b>{{ stop.stop_name }}</b></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Origin: <b>{{ target_bus.route.start.position }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Destination: <b>{{ target_bus.route.end.position }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Seats: <b>{{ target_bus.seat }}</b></div>
                        </div>
                    </li>
                </ul>
            </div>
    </f7-page>
</template>

<script>
  export default {
    data () {
      return {
        target_bus: {
            infoWinOpen: false,
            free_text: '',
            seat: '',
            plate_number: '',
            bus_number: '',
            position: {
                lat: 16.566233,
                lng: 121.262634,
            },
            route: {
                start: {
                    position: '',
                },
                end: {
                    position: '',
                }
            },
            route_stops: [],
        },
        center: {lat: 16.566233, lng: 121.262634},
        buses: [],
        url: {
            routeGetAllBus: 'http://bus-finder-ph.herokuapp.com/api/all/bus',
        },
      }
    },
    methods: {
        resetInfo: function () {
            var that = this;
            that.target_bus.infoWinOpen = false
            that.target_bus.position = {
                lat: 10.0,
                lng: 10.0,
            }
        },
        getBus: function (bus) {
            var that = this;
            that.center = bus.position;
            if (bus.free_text !== "You're here.") {
                var route = "/view-bus-route/bus/" + bus.plate_number
                f7.mainView.router.load({url: route});
                that.target_bus = {
                    infoWinOpen: true,
                    free_text: bus.free_text,
                    position: bus.position,
                    seat: bus.seat,
                    plate_number: bus.plate_number,
                    bus_number: bus.bus_number,
                    route: {
                        start: {
                            position: bus.route.start.position,
                        },
                        end: {
                            position: bus.route.end.position,
                        },
                    },
                    distance: bus.distance,
                    route_stops: bus.route_stops
                }
            } else {
                that.target_bus = {
                    infoWinOpen: true,
                    free_text: bus.free_text,
                    position: bus.position,
                    seat: '',
                    plate_number: '',
                    bus_number: '',
                    route: {
                        start: {
                            position: '',
                        },
                        end: {
                            position: '',
                        },
                    },
                    distance: '',
                    route_stops: [],
                }
            }

        },
        getAllBust: function () {
            var that = this;
            navigator.geolocation.getCurrentPosition(function(position) {
                var data = {
                    user_mac: '70:4d:7b:07:e4:61',
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                }
                axios.post(that.url.routeGetAllBus, data).then(function(response){
                    that.buses = response.data;
                }).catch( function(error) {
                    var err = error.response.data;
                    that.$f7.alert(err.message, err.error);
                });
            });
        }
    },
    mounted: function () {
        var that = this;
        var autoXcomplete = that.$f7.autocomplete({
            openIn: 'popup',
            preloader: true,
            valueProperty: 'plate_number',
            textProperty: 'bus_with_distance',
            limit: 20,
            searchbarPlaceholderText: 'Destination',
            opener: $('#autocomplete-standalone-popup'),
            backOnSelect: true,
            source: function (autocomplete, query, render) {
                var results = [];
                if (query.length === 0) {
                    render(results);
                    return;
                }
                autocomplete.showPreloader();
                for (var i = 0; i < that.buses.length; i++) {
                    if(that.buses[i].free_text !== "You're here.") {
                        if (that.buses[i].route.end.position.toLowerCase().indexOf(query.toLowerCase()) >= 0) {
                            that.buses[i].bus_with_distance = "Bus No: " + that.buses[i].bus_number + " - " + that.buses[i].distance;
                            results.push(that.buses[i]);
                        }
                    }
                }
                autocomplete.hidePreloader();
                render(results);
            },
            onChange: function (autocomplete, value) {
                var route = "/view-bus-route/bus/" + value[0].plate_number
                f7.mainView.router.load({url: route});
                $('#autocomplete-standalone-popup').find('input').val(value[0]);
                autoXcomplete.value = [];
            }
        });
        that.getAllBust();
        setInterval(function () {
            that.getAllBust();
        }, 30000);
    },
  }
</script>
