<template>
    <f7-page>
        <f7-navbar title="Selected Bus" back-link="Back" sliding></f7-navbar>
        <gmap-map
            ref="map"
            :center="center"
            :zoom="7"
            style="width: 100%; height: 300px;">
            <gmap-marker
                :key="index"
                v-for="(pointer, index) in routes"
                :position="pointer.position"
                :clickable="true"
                :draggable="false"
                :title="pointer.free_text"
                :icon="pointer.icons"
                v-on:click="openInfoWind(pointer)">
            </gmap-marker>
            <gmap-info-window
                :opened="target_pointer.infoWinOpen"
                :position="target_pointer.position"
                @closeclick="resetInfo">
                {{ target_pointer.free_text }}
            </gmap-info-window>
        </gmap-map>
          <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Bus No: <b>{{ target_bus.bus_number }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Plate No: <b>{{ target_bus.plate_number }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Distance: <b>{{ target_bus.distance }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Stops:
                                <ul>
                                    <li v-for="(stop, index) in target_bus.route.stops"><b>{{ stop }}</b></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Origin: <b>{{ target_bus.route.start }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Route Destination: <b>{{ target_bus.route.end }}</b></div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">Seats: <b>{{ target_bus.seat }}</b></div>
                        </div>
                    </li>
                </ul>
            </div>
    </f7-page>
</template>

<script>
  export default {
    data () {
      return {
        target_bus: {
            seat: '',
            plate_number: '',
            bus_number: '',
            route: {
                stops: [],
                start: '',
                end: '',
            },
            distance: '',
        },
        target_pointer: {
            infoWinOpen: false,
            free_text: '',
            position: {
                lat: 16.566233,
                lng: 121.262634,
            },
        },
        center: {lat: 16.566233, lng: 121.262634},
        url: {
            routeGetBus: 'http://bus-finder-ph.herokuapp.com/api/get/bus?plate_number=',
        },
        routes: [],
      }
    },
    methods: {
        resetInfo: function () {
            var that = this;
            that.target_pointer.infoWinOpen = false
            that.target_pointer.position = {
                lat: 10.0,
                lng: 10.0,
            }
        },
        openInfoWind: function (pointer) {
            var that = this;
            that.center = pointer.position;
            that.target_pointer = {
                infoWinOpen: true,
                free_text: pointer.free_text,
                position: pointer.position,
            }
        },
        getBusRoute: function () {
            var that = this;
            axios.get(that.url.routeGetBus + that.$route.params.plateNumber).then(function(response){
                that.routes = response.data.marks;
                that.target_bus = response.data.bus;
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        }
    },
    mounted: function () {
        var that = this;
        that.getBusRoute();
        setInterval(function () {
            that.getBusRoute();
        }, 30000);

    }
  }
</script>
