<template>
	<div id="app">
		<f7-statusbar></f7-statusbar>
		<f7-views>
			<f7-view id="main-view" navbar-through :dynamic-navbar="true" main url="/">
				<f7-pages>
              <f7-page>
                  <img width="100%" height="100%" data-src="http://bus-finder-ph.herokuapp.com/img/land.png" class="lazy lazy-fadein">
              </f7-page>
				</f7-pages>
			</f7-view>
		</f7-views>
	</div>
</template>

<script>
  export default {
    data () {
      return {
        url: {
          routeCheckMacAddress: 'https://bus-finder-ph.herokuapp.com/api/check-mac',
        },
        mac_address: null,
      }
    },
    created: function () {
        var that = this;
        MacAddress.getMacAddress( function(macAddress) {
            that.mac_address = macAddress;
        }, function(fail) {
               that.$f7.alert(fail, 'Error!');
        });
        navigator.geolocation.getCurrentPosition(function(position) {
            var data = {
                mac_address: that.mac_address,
                lat: position.coords.latitude,
                lng: position.coords.longitude,
            }
            axios.post(that.url.routeCheckMacAddress, data).then(function(response){
                var result = response.data
                window.phone_info = result;
                if (result.agreement === 'agree') {
                    f7.mainView.router.load({url: '/map'});
                } else {
                    f7.mainView.router.load({url: '/terms-and-condition'});
                }
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        });
    },
  }
</script>
